@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


/* Containers */
body {
    margin: 0;
    background-color: rgb(22, 18, 18);
}
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.container {
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    /* border-bottom: 2px solid red; */
}
#start-game,
#game-over{
    height: 650px;
    width: 600px;
    border: 2px solid rgb(255,196,59);
    box-shadow: 1px 1px 5px rgb(255, 196, 59);
}

/* First Screen */
#start-game {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: space-around;
}
#start-game h1,
#game-over h1 {
    color: rgb(255, 196, 59);
    padding-top: 50px;
    font-size: 2.5rem;
}

button {
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(255, 196, 59);
    padding: 5px;
    margin-bottom: 50px;
}

/* Canvas */
#canvas-container{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 650px;
    border: 2px solid rgb(255,196,59);
    box-shadow: 1px 1px 5px rgb(255, 196, 59);
}
#bottom-bar{
    display: flex;
    gap: 25px;
    
}
#canvas-container p {
    color: rgb(255, 196, 59);
    background-color: black;
    padding: 0;

}
canvas{
    background-color: aliceblue;
}
.audio-juego{
    display: none;
}

/* GameOver */
#game-over{
    display: none;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: space-around;
}

