@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


/* Containers */
body {
    margin: 0;
    background-color: rgb(22, 18, 18);
    background-position: center;
    
}
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.container {
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    /* border-bottom: 2px solid red; */
}
#start-game,
#game-over{
    height: 650px;
    width: 600px;
    border: 2px solid rgb(255,196,59);
    box-shadow: 1px 1px 5px rgb(255, 196, 59);
}

#btn-mute{
    padding-top: 15px;
    display: flex;
    justify-content: center;
}
#btn-mute input{
    width: 5%;
}


/* First Screen */
#start-game {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
#start-game h1,
#game-over h1 {
    color: rgb(255, 196, 59);
    padding-top: 50px;
    font-size: 2.5rem;
}

button,
input {
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(255, 196, 59);
    padding: 5px;
    /* margin-bottom: 50px; */
}
#start-game div{
    color: rgb(234, 184, 67);
    font-size: 0.5rem;
    padding-bottom: 5px;
}

/* Canvas */
#canvas-container{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 650px;
    border: 2px solid rgb(255,196,59);
    box-shadow: 1px 1px 5px rgb(255, 196, 59);
}
#bottom-bar{
    display: flex;
    gap: 25px;
    
}
#canvas-container p {
    color: rgb(255, 196, 59);
    background-color: black;
    padding: 0;

}
canvas{
    background-color: aliceblue;
}
.audio-juego,
.audio-choque,
.audio-game-over{
    display: none;
}

/* GameOver */
#game-over{
    display: none;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.instruccions {
    color: rgb(234, 184, 67);
    font-size: 0.5rem;
    margin: 0;
    padding: 0; 
}
#totalScore {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 196, 59);
    margin: 0;
    padding: 0;
    row-gap: 10px;
}

#totalScore p {
    padding: 0;
    margin: 0;
}

